* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: grid;
    place-items: center;
}

#list {
    display: flex;
    gap: 0.25rem;
    transform-style: preserve-3d;
    list-style-type: none;
    
    &:hover :not(:hover) {
        margin: 0 -20px;
        transform: perspective(500px) rotateY(45deg) scale(0.95);
    }

    &:hover :not(:hover) ::after {
        opacity: 0.4;
    }
}

.item {
    position: relative;
    width: 120px;
    aspect-ratio: 3/4;
    border-radius: 0.5rem;
    background-size: cover;
    background-position: center;
    transition: margin 0.5s, transform 0.5s;

    &:nth-of-type(1) { background-image: url(https://c4.wallpaperflare.com/wallpaper/719/640/12/marvel-comics-the-avengers-spider-man-avengers-infinity-war-wallpaper-preview.jpg); }
    &:nth-of-type(2) { background-image: url(https://c4.wallpaperflare.com/wallpaper/706/157/116/avengers-infinity-war-4k-thanos-wallpaper-preview.jpg); }
    &:nth-of-type(3) { background-image: url(https://c4.wallpaperflare.com/wallpaper/168/856/47/captain-america-chris-evans-captain-america-the-first-avenger-wallpaper-preview.jpg); }
    &:nth-of-type(4) { background-image: url(https://c4.wallpaperflare.com/wallpaper/14/548/927/the-avengers-avengers-endgame-avengers-endgame-infinity-gauntlet-iron-man-hd-wallpaper-preview.jpg); }
    &:nth-of-type(5) { background-image: url(https://c4.wallpaperflare.com/wallpaper/869/26/517/the-avengers-avengers-endgame-chris-hemsworth-thor-hd-wallpaper-preview.jpg); }

    &:hover ~ .item {
        transform: perspective(500px) rotateY(-45deg) scale(0.95);
    }

    &:hover {
        transform: perspective(500px) rotateY(0) scale(1.2);
    }

    &::after {
        content: '';
        position: absolute;
        width: inherit;
        aspect-ratio: inherit;
        border-radius: inherit;
        background-color: black;
        opacity: 0;
        transition: opacity 0.5s;
    } 
}